@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(209, 200, 244);
    background-color:rgb(209, 200, 244);



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none !important;
  color: rgb(83, 26, 74, 1) !important;
}

.mainbg{
  background-color:rgb(209, 200, 244);
}


.font-gilda {
  font-family: 'Gilda Display', serif;
} 

.letter-colors {
  color: rgb(96, 44, 92, 1);
}



body {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(209, 200, 244) !important;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: rgb(209, 200, 244);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
